extends ../layout/admin.pug

block content
    #container.main-container.sidebar-closed.sbar-open
        include ../components/navbar

        #content.main-content
            .layout-px-spacing
                .page-header
                    .page-title
                        h3 Administrar Vat Encuestas
                        a.btn.btn-info(href='#createForm' style='width: 400px; margin-top: 50px;' data-toggle='modal')
                            i.material-icons &#xE147;
                            span(style='font-size: 25px; color: #fff;') Agregar Panel Nuevo
                .table-title.text-center
                    .row.text-center
                        .text-center(style='margin-top: 40px;')
                .widget-content.widget-content-area.br-6
                    .table-responsive.mb-4.mt-4
                        table#table1.table.table-hover.text-center(style='width:100%')
                            thead
                                tr
                                    th Titulo
                                    th URL
                                    th Tipo
                                    th Acciones
                            tbody
                                each encuesta in encuestas
                                    tr 
                                        td=encuesta.title
                                        td=encuesta.url
                                        if encuesta.type_url === 'external'
                                            td Externa
                                        else 
                                            td Interna
                                        td 
                                            a(href=`#editEncuesta${encuesta.id}` data-toggle="modal" data-url=encuesta.url).btn.btn-warning.mr-2.edit-form-button Editar
                                            a(href=`#deleteEncuesta${encuesta.id}` data-toggle="modal").btn.btn-danger Eliminar

        each form in encuestas
            .modal.fade(id=`deleteEncuesta${form.id}`)
                .modal-dialog
                    .modal-content
                        form
                            .modal-header
                                h4.modal-title Eliminar Encuesta
                                button.close(type='button' data-dismiss='modal' aria-hidden='true')
                                | &times;
                            .modal-body
                                p=`¿Seguro que quiere eliminar el formulario "${form.title}"?`
                                p.text-warning
                                small Esta acci&oacute;n no se puede revertir.
                            .modal-footer
                                input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                                a(href=`/admin/vatEncuestas/${form.id}`).btn.btn-danger Eliminar
            .modal.fade(id=`editEncuesta${form.id}`)
                .modal-dialog
                    .modal-content
                        form(method="POST", action=`/admin/vatEncuestas/${form.id}`)
                            .modal-header
                                h4.modal-title Editar Formulario
                                button.close(type='button' data-dismiss='modal' aria-hidden='true')
                                | &times;
                            .modal-body
                                .col-sm-12
                                    label Titulo
                                    input.form-control.mb-4(type='text' placeholder='Titulo de Formulario' required='', name="title", value=form.title)
                                .col-sm-12
                                    .form-group
                                        label.d-block Tipo de Url
                                        .row
                                            label.col-6
                                                span.mr-2 interno
                                                if form.type_url === 'internal'
                                                    input.form-type-url(type="radio" value="internal" name="type_url" checked data-id=form.id)
                                                else 
                                                    input.form-type-url(type="radio" value="internal" name="type_url" data-id=form.id)
                                            label.col-6  
                                                span.mr-2 externo
                                                if form.type_url === 'external'
                                                    input.form-type-url(type="radio" value="external" name="type_url" checked data-id=form.id)
                                                else
                                                    input.form-type-url(type="radio" value="external" name="type_url" data-id=form.id)
                                .col-md-12
                                    .form-group
                                        label URL

                                        .form-group.mr-1
                                            select#form-internal.form-control.list-form-edit(class=`${form.type_url === 'internal' ? 'd-block' : 'd-none'}` name="internal" value=form.url data-id=form.id)
                                                if options
                                                    each option in options
                                                        option(value=option.url).option-form=option.text

                                            input#form-external.form-control.mb-4.input-form-edit(class=`${form.type_url === 'external' ? 'd-block' : 'd-none'}` type='text' placeholder='Url del Formulario', name="external" data-url=form.url data-id=form.id value=`${form.type_url === 'external' ? form.url : ''}`)
                            .modal-footer
                                input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                                button.btn.btn-success(type='submit') Editar

        #createForm.modal.fade
            .modal-dialog
                .modal-content
                    form(method="POST")
                        .modal-header
                            h4.modal-title Crear Encuesta
                            button.close(type='button' data-dismiss='modal' aria-hidden='true')
                            | &times;
                        .modal-body
                            .col-sm-12
                                label Titulo
                                input.form-control.mb-4(type='text' placeholder='Titulo de Encuesta' required='', name="title")
                            .col-sm-12
                                .form-group
                                    label.d-block Tipo de Url
                                    .row
                                        label.col-6
                                            span.mr-2 interno
                                            input(type="radio" value="internal" name="type_url" checked).form-type-url
                                        label.col-6  
                                            span.mr-2 externo
                                            input(type="radio" value="external" name="type_url").form-type-url
                            .col-md-12
                                .form-group
                                    label URL

                                    .form-group.mr-1
                                        select#form-internal-create.form-control.d-block(name="internal")
                                            each option in options
                                                option(value=option.url).option-form=option.text

                                        input#form-external-create.form-control.mb-4.d-none(type='text' placeholder='Url del Formulario', name="external")
                        .modal-footer
                            input.btn.btn-default(type='button' data-dismiss='modal' value='Cancel')
                            button.btn.btn-success(type='submit') Agregar

        script.
            const forms = document.querySelectorAll('.form-type-url')
            const internal =  document.getElementById('form-internal-create')
            const external =  document.getElementById('form-external-create')
            const inputs = document.querySelectorAll('.input-form-edit')
            const lists = document.querySelectorAll('.list-form-edit')

            const options = document.querySelectorAll('.option-form')
            const buttons = document.querySelectorAll('.edit-form-button')

            buttons.forEach((button) => {
                button.addEventListener('click', (e) => {
                    options.forEach((option) => {
                        option.removeAttribute('selected')
                        if (option.value === e.target.getAttribute('data-url')) {
                            option.setAttribute('selected', 'on')
                        }
                    })
                })
            })

            forms.forEach((form) => {
                form.addEventListener('change', (e) => {
                    if(e.target.getAttribute('data-id')) {
                        inputs.forEach(input => {
                            if(input.getAttribute('data-id') === e.target.getAttribute('data-id')) {
                                if (e.target.value === 'internal') {
                                    input.classList.replace('d-block', 'd-none')
                                    input.value = ""
                                } else {
                                    input.classList.replace('d-none', 'd-block')
                                    input.value = input.getAttribute('data-url')
                                }
                            }
                        })
                        lists.forEach(list => {
                            if(list.getAttribute('data-id') === e.target.getAttribute('data-id')) {
                                if (e.target.value === 'external') {
                                    list.classList.replace('d-block', 'd-none')
                                } else {
                                    list.classList.replace('d-none', 'd-block')
                                }
                            } 
                        })
                    }
                    if (e.target.value === 'internal') {
                        external.classList.replace('d-block', 'd-none')
                        internal.classList.replace('d-none', 'd-block')
                    } else {
                        internal.classList.replace('d-block', 'd-none')
                        external.classList.replace('d-none', 'd-block')
                    }
                })
            })